@font-face {
  font-family: 'PragmaticaCTT';
  src: local(''), url('../fonts/pragmaticactt.woff2') format('woff2'),
    url('../fonts/pragmaticactt.woff') format('woff');
}

@font-face {
  font-family: 'PragmaticaCTT Bold';
  src: local(''), url('../fonts/pragmaticactt-bold.woff2') format('woff2'),
    url('../fonts/pragmaticactt-bold.woff') format('woff');
}

$background-color: #ffffff;
$text-color: #000000;
$border-color: #0000004D;
$main-color: #e61919;
