<section class="section">
  <div class="container">
    <h2 class="section__title">ПРО ПРОЕКТ BABYCARD</h2>
    <div class="section__wrapper">
      <iframe
        class="section__video"
        src="https://www.youtube.com/embed/6sWBUS4JjA0"
        title="About BabyCard video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            ЩО ЦЕ ЗА ПРОЕКТ І ЧОМУ САМЕ BABYCARD?!
          </h3>
        </div>
        <p class="section__text">
          Вabycard - це перший дитячий проект на пластикових картках для дітей
          віком від 3 років, розроблений згідно комплексної регіональної
          програми розвитку дитини дошкільного віку “Українське дошкілля”.
        </p>
        <p class="section__text">
          Матеріал буде корисним в дитячому садочку, початковій школі, в інших
          дошкільних навчальних закладах та вдома для занять з вивчення букв,
          лічби та ознайомлення дітей з навколишнім світом.
        </p>
        <p class="section__text">
          Матеріал призначено для вихователів дитячих садків, вчителів
          початкових класів, інших закладів та батьків.
        </p>
        <p class="section__text">
          Картки від Babycard - це оптимальна добірка слів, шрифт, розмір,
          товщина карток, великі літери, веселі вірші, чудові малюнки. Картки
          стимулюють інтерес до занять, допомагають розвинути дрібну моторику,
          розвивають навички мовлення, пам'ять, увагу.
        </p>
      </div>
    </div>
  </div>
</section>
