<section class="section">
  <div class="container">
    <h2 class="section__title">ABOUT THE BABYCARD PROJECT</h2>
    <div class="section__wrapper">
      <iframe
      loading="lazy"
        class="section__video"
        src="https://www.youtube.com/embed/6sWBUS4JjA0"
        title="About BabyCard video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            WHAT IS THIS PROJECT AND WHY EXACTLY BABYCARD?!
          </h3>
        </div>
        <p class="section__text">
          Babycard is the first children's project on plastic cards for children
          from 3 years old, developed in accordance with the integrated regional
          program for the development of a preschool child "Ukrainian preschool
          school".
        </p>
        <p class="section__text">
          The material will be useful in kindergarten, elementary school, other
          preschool educational institutions and at home for studying letters,
          numbers and familiarizing children with the world around them.
        </p>
        <p class="section__text">
          The material is intended for kindergarten teachers, primary school
          teachers, other institutions and parents.
        </p>
        <p class="section__text">
          Cards from Babycard are the optimal choice of words, font, size, card
          thickness, capital letters, funny poems, wonderful drawings. Cards
          stimulate interest in classes, help develop fine motor skills, develop
          speech skills, memory, attention.
        </p>
      </div>
    </div>
  </div>
</section>
