<section class="section" id="section-delivery">
  <div class="container">
    <h2 class="section__title">ДОСТАВКА</h2>

    <p class="section__text-secondary section__text-secondary--delivery">
      Доправлення замовлень від Babycard до відділення у вашому місті
      здійснюється вантажоперевізником «Нова пошта» та «Укрпоштою».
    </p>

    <div class="delivery">
      <div class="delivery__box">
        <h3 class="delivery__title">НОВА ПОШТА</h3>
      <ul class="delivery__list">
        <li class="delivery__item">
          <a href="https://tracking.novaposhta.ua/#/uk/" class="delivery__link">
            <svg class="delivery__icon">
              <use href="./images/sprite.svg#box"></use>
            </svg>
            <div class="delivery__wrapper">
              <p class="delivery__text delivery__text--bold">
                Відстежити відправлення
              </p>
              <p class="delivery__text">
                Відстежити, де зараз знаходиться відправлення
              </p>
            </div>
          </a>
        </li>

        <li class="delivery__item">
          <a href="https://novaposhta.ua/office" class="delivery__link">
            <svg class="delivery__icon">
              <use href="./images/sprite.svg#point"></use>
            </svg>
            <div class="delivery__wrapper">
              <p class="delivery__text delivery__text--bold">
                Відділення «Нової пошти»
              </p>
              <p class="delivery__text">
                Знайти найближче відділення «Нової пошти»
              </p>
            </div>
          </a>
        </li>

        <li class="delivery__item">
          <a
            href="https://novaposhta.ua/onlineorder/estimatedate"
            class="delivery__link"
          >
            <svg class="delivery__icon">
              <use href="./images/sprite.svg#clock-big"></use>
            </svg>
            <div class="delivery__wrapper">
              <p class="delivery__text delivery__text--bold">
                Терміни доставки
              </p>
              <p class="delivery__text">
                Орієнтована дата прибуття відправлення у відділення
              </p>
            </div>
          </a>
        </li>

        <li class="delivery__item">
          <a href="https://novaposhta.ua/delivery" class="delivery__link">
            <svg class="delivery__icon">
              <use href="./images/sprite.svg#money"></use>
            </svg>
            <div class="delivery__wrapper">
              <p class="delivery__text delivery__text--bold">
                Вартість доставки
              </p>
              <p class="delivery__text">
                Орієнтована вартість доставки відправлення
              </p>
            </div>
          </a>
        </li>
      </ul>
      </div>

      <div class="delivery__box">
        <h3 class="delivery__title">УКРПОШТА</h3>
      <ul class="delivery__list">
        <li class="delivery__item">
          <a href="https://posylka.net/uk/couriers/ukrposhta" class="delivery__link">
            <svg class="delivery__icon">
              <use href="./images/sprite.svg#box"></use>
            </svg>
            <div class="delivery__wrapper">
              <p class="delivery__text delivery__text--bold">
                Відстежити відправлення
              </p>
              <p class="delivery__text">
                Відстежити, де зараз знаходиться відправлення
              </p>
            </div>
          </a>
        </li>

        <li class="delivery__item">
          <a href="https://offices.ukrposhta.ua/" class="delivery__link">
            <svg class="delivery__icon">
              <use href="./images/sprite.svg#point"></use>
            </svg>
            <div class="delivery__wrapper">
              <p class="delivery__text delivery__text--bold">
                Відділення «Укрпошти»
              </p>
              <p class="delivery__text">
                Знайти найближче відділення «Укрпошти»
              </p>
            </div>
          </a>
        </li>

        <li class="delivery__item">
          <a
            href="https://www.ukrposhta.ua/ua/terminy-ukrposhta-standart"
            class="delivery__link"
          >
            <svg class="delivery__icon">
              <use href="./images/sprite.svg#clock-big"></use>
            </svg>
            <div class="delivery__wrapper">
              <p class="delivery__text delivery__text--bold">
                Терміни доставки
              </p>
              <p class="delivery__text">
                Терміни доставки відправлень «Укрпошти»
              </p>
            </div>
          </a>
        </li>

        <li class="delivery__item">
          <a href="https://calc.ukrposhta.ua/domestic-calculator" class="delivery__link">
            <svg class="delivery__icon">
              <use href="./images/sprite.svg#money"></use>
            </svg>
            <div class="delivery__wrapper">
              <p class="delivery__text delivery__text--bold">
                Рохрахунок вартості доставки
              </p>
              <p class="delivery__text">
                Орієнтована вартість доставки відправлення
              </p>
            </div>
          </a>
        </li>
      </ul>
      </div>


    </div>
  </div>
</section>
