<section class="section" id="section-delivery">
  <div class="container">
    <h2 class="section__title">DELIVERY</h2>

    <p class="section__text-secondary section__text-secondary--delivery">
      Delivery of orders from Babycard to a branch in your city is carried out
      by the carrier "Nova Poshta" and "Ukrposhta".
    </p>

    <div class="delivery">
      <div class="delivery__box">
        <h3 class="delivery__title">NOVA POST</h3>
        <ul class="delivery__list">
          <li class="delivery__item">
            <a
              target="_blank"
              href="https://tracking.novaposhta.ua/#/uk/"
              class="delivery__link"
            >
              <svg class="delivery__icon">
                <use href="./images/sprite.svg#box"></use>
              </svg>
              <div class="delivery__wrapper">
                <p class="delivery__text delivery__text--bold">
                  Track your shipment
                </p>
                <p class="delivery__text">Track where the shipment is now</p>
              </div>
            </a>
          </li>

          <li class="delivery__item">
            <a
              target="_blank"
              href="https://novaposhta.ua/office"
              class="delivery__link"
            >
              <svg class="delivery__icon">
                <use href="./images/sprite.svg#point"></use>
              </svg>
              <div class="delivery__wrapper">
                <p class="delivery__text delivery__text--bold">
                  "NOVA POST" OFFICE
                </p>
                <p class="delivery__text">
                  Find the nearest "NOVA POST" office
                </p>
              </div>
            </a>
          </li>

          <li class="delivery__item">
            <a
              target="_blank"
              href="https://novaposhta.ua/onlineorder/estimatedate"
              class="delivery__link"
            >
              <svg class="delivery__icon">
                <use href="./images/sprite.svg#clock-big"></use>
              </svg>
              <div class="delivery__wrapper">
                <p class="delivery__text delivery__text--bold">
                  DATES OF ARRIVAL
                </p>
                <p class="delivery__text">
                  Estimated date of arrival of the shipment at the branch
                </p>
              </div>
            </a>
          </li>

          <li class="delivery__item">
            <a
              target="_blank"
              href="https://novaposhta.ua/delivery"
              class="delivery__link"
            >
              <svg class="delivery__icon">
                <use href="./images/sprite.svg#money"></use>
              </svg>
              <div class="delivery__wrapper">
                <p class="delivery__text delivery__text--bold">SHIPPING COST</p>
                <p class="delivery__text">Estimated shipping cost</p>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="delivery__box">
        <h3 class="delivery__title">UKRPOSHTA</h3>
        <ul class="delivery__list">
          <li class="delivery__item">
            <a
              target="_blank"
              href="https://posylka.net/uk/couriers/ukrposhta"
              class="delivery__link"
            >
              <svg class="delivery__icon">
                <use href="./images/sprite.svg#box"></use>
              </svg>
              <div class="delivery__wrapper">
                <p class="delivery__text delivery__text--bold">
                  Track your shipment
                </p>
                <p class="delivery__text">Track where the shipment is now</p>
              </div>
            </a>
          </li>

          <li class="delivery__item">
            <a
              target="_blank"
              href="https://offices.ukrposhta.ua/"
              class="delivery__link"
            >
              <svg class="delivery__icon">
                <use href="./images/sprite.svg#point"></use>
              </svg>
              <div class="delivery__wrapper">
                <p class="delivery__text delivery__text--bold">
                  FIND A "UKRPOSHTA" BRANCH
                </p>
                <p class="delivery__text">
                  Find the nearest "UKRPOSHTA" branch
                </p>
              </div>
            </a>
          </li>

          <li class="delivery__item">
            <a
              target="_blank"
              href="https://www.ukrposhta.ua/ua/terminy-ukrposhta-standart"
              class="delivery__link"
            >
              <svg class="delivery__icon">
                <use href="./images/sprite.svg#clock-big"></use>
              </svg>
              <div class="delivery__wrapper">
                <p class="delivery__text delivery__text--bold">
                  DATES OF ARRIVAL
                </p>
                <p class="delivery__text">
                  Delivery times for "UKRPOSHTA" items
                </p>
              </div>
            </a>
          </li>

          <li class="delivery__item">
            <a
              target="_blank"
              href="https://calc.ukrposhta.ua/domestic-calculator"
              class="delivery__link"
            >
              <svg class="delivery__icon">
                <use href="./images/sprite.svg#money"></use>
              </svg>
              <div class="delivery__wrapper">
                <p class="delivery__text delivery__text--bold">
                  CALCULATION OF SHIPPING COSTS
                </p>
                <p class="delivery__text">Estimated shipping cost</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
