<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__adress">
        <p class="footer__content">КОНТАКТИ</p>
        <a class="footer__link footer__link--main" href="./">
          BABYCARD UKRAINE</a
        >
        <address class="footer__contacts">
          <ul class="footer__list list">
            <li class="footer__item">
              <svg class="footer__icon">
                <use href="./images/sprite.svg#clock-little"></use>
              </svg>
              <p class="footer__text">
                ЧАС РОБОТИ:
                <span class="footer__span">ПН-НД 09:00 - 18:00</span>
              </p>
            </li>
            <li class="footer__item">
              <svg class="footer__icon">
                <use href="./images/sprite.svg#phone"></use>
              </svg>
              <p class="footer__text">
                ТЕЛЕФОН:
                <a
                  href="tel:+380503683547"
                  class="footer__link link footer__span"
                >
                  +38 050 368 35 47</a
                >
              </p>
            </li>
            <li class="footer__item">
              <svg class="footer__icon">
                <use href="./images/sprite.svg#letter"></use>
              </svg>
              <p class="footer__text">
                E-MAIL:
                <a
                  href="mailto:ABETKA@BABYCARD.CLUB"
                  class="footer__link link footer__span"
                  >ABETKA@BABYCARD.CLUB</a
                >
              </p>
            </li>
          </ul>
        </address>
      </div>

      <div class="messenger">
        <p class="footer__content">МИ У СОЦМЕРЕЖАХ</p>
        <ul class="messenger__list list">
          <li class="messenger__item">
            <a href="" class="messenger__link link">
              <img
                class="messenger__img"
                src="./images/messenger/Facebook.png"
                alt="Facebook Logo"
              />
            </a>
          </li>
          <li class="messenger__item">
            <a href="" class="messenger__link link">
              <img
                class="messenger__img"
                src="./images/messenger/Facebook.Group.png"
                alt="Facebook Group Logo"
              />
            </a>
          </li>
          <li class="messenger__item">
            <a href="" class="messenger__link link">
              <img
                class="messenger__img"
                src="./images/messenger/YouTube.png"
                alt="YouTube Logo"
              />
            </a>
          </li>
          <li class="messenger__item">
            <a href="" class="messenger__link link">
              <img
                class="messenger__img"
                src="./images/messenger/Pinterest.png"
                alt="Pinterest Logo"
              />
            </a>
          </li>
          <li class="messenger__item">
            <a href="" class="messenger__link link">
              <img
                class="messenger__img"
                src="./images/messenger/Telegram.png"
                alt="Telegram Logo"
              />
            </a>
          </li>
          <li class="messenger__item">
            <a href="" class="messenger__link link">
              <img
                class="messenger__img"
                src="./images/messenger/Twitter.png"
                alt="Twitter Logo"
              />
            </a>
          </li>
          <li class="messenger__item">
            <a href="" class="messenger__link link">
              <img
                class="messenger__img"
                src="./images/messenger/Whatsapp.Business.png"
                alt="Whatsapp Logo"
              />
            </a>
          </li>
          <li class="messenger__item">
            <a href="" class="messenger__link link">
              <img
                class="messenger__img"
                src="./images/messenger/Instagram.png"
                alt="Instagram Logo"
              />
            </a>
          </li>
        </ul>
      </div>

      <nav class="footer__nav">
        <p class="footer__content">ІНФОРМАЦІЯ</p>
        <ul class="footer__list footer__list--nav list">
          <li class="footer__item">
            <a href="#section-reviews" class="footer__link link"
              >ВІДГУКИ НАШИХ ДРУЗІВ</a
            >
          </li>
          <li class="footer__item">
            <a href="#section-how-to-buy" class="footer__link link"
              >ЯК ПРИДБАТИ ТОВАР</a
            >
          </li>
          <li class="footer__item">
            <a href="#section-delivery" class="footer__link link">ДОСТАВКА</a>
          </li>
          <li class="footer__item">
            <a href="#section-guarantee" class="footer__link link"
              >ГАРАНТІЯ ЯКОСТІ ВІД ВИРОБНИКА</a
            >
          </li>
          <li class="footer__item">
            <a href="#section-payment" class="footer__link link">ОПЛАТА</a>
          </li>
          <li class="footer__item">
            <a href="#section-receiving" class="footer__link link"
              >ЩО ПОТРІБНО ДЛЯ ОТРИМАННЯ ТОВАРУ</a
            >
          </li>
          <li class="footer__item">
            <a href="#section-refund" class="footer__link link"
              >ПОВЕРНЕННЯ ГРОШЕЙ ТА ЗАМІНА ТОВАРУ</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__rights">
      <h2 class="footer__rights-title">
        2023. BABYCARD UKRAINE. АБЕТКА ДЛЯ ДІТЕЙ НА ПЛАСТИКОВИХ КАРТКАХ
      </h2>
      <p class="footer__rights-text">ALL RIGHTS RESERVED</p>
      <p class="footer__rights-text">
        Усі права на матеріали, опубліковані на даному ресурсі, належать ТОВ
        «КАРДТЕХ КО.». Будь-яке використання матеріалів без письмового дозволу
        ТОВ «КАРДТЕХ КО.» - Заборонено. При використанні матеріалів з цього
        ресурсу гіперпосилання www.babycard.club обов'язкове. Даний ресурс - для
        дітей віком від 3 років і більше.
      </p>
    </div>
  </div>
</footer>
