<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__wrapper">
        <div class="footer__adress">
          <p class="footer__content">CONTACTS</p>
          <a class="footer__link footer__link--main" href="./index.html">
            BABYCARD UKRAINE</a
          >
          <address class="footer__contacts">
            <ul class="footer__list list">
              <li class="footer__item">
                <svg class="footer__icon">
                  <use href="./images/sprite.svg#clock-little"></use>
                </svg>
                <p class="footer__text">
                  WORKING TIME:
                  <span class="footer__span">Mon-Sun 09:00 - 18:00</span>
                </p>
              </li>
              <li class="footer__item">
                <svg class="footer__icon">
                  <use href="./images/sprite.svg#phone"></use>
                </svg>
                <p class="footer__text">
                  PHONE:
                  <a
                    target="_blank"
                    href="tel:+380503683547"
                    class="footer__link link footer__span"
                  >
                    +38 050 368 35 47</a
                  >
                </p>
              </li>
              <li class="footer__item">
                <svg class="footer__icon">
                  <use href="./images/sprite.svg#letter"></use>
                </svg>
                <p class="footer__text">
                  E-MAIL:
                  <a
                    target="_blank"
                    href="mailto:ABETKA@BABYCARD.CLUB"
                    class="footer__link link footer__span"
                    >ABETKA@BABYCARD.CLUB</a
                  >
                </p>
              </li>
            </ul>
          </address>
        </div>

        <div class="messenger">
          <p class="footer__content">WE ARE IN SOCIAL NETWORKS</p>
          <ul class="messenger__list list">
            <li class="messenger__item">
              <a
                target="_blank"
                href="https://www.facebook.com/babycard.abetka"
                class="messenger__link link"
              >
                <img
                  class="messenger__img"
                  src="./images/messenger/Facebook.png"
                  alt="Facebook Logo"
                />
              </a>
            </li>
            <li class="messenger__item">
              <a
                target="_blank"
                href="https://www.facebook.com/groups/babycard.club/"
                class="messenger__link link"
              >
                <img
                  class="messenger__img"
                  src="./images/messenger/Facebook.Group.png"
                  alt="Facebook Group Logo"
                />
              </a>
            </li>
            <li class="messenger__item">
              <a
                target="_blank"
                href="https://www.youtube.com/@babycardukraine"
                class="messenger__link link"
              >
                <img
                  class="messenger__img"
                  src="./images/messenger/YouTube.png"
                  alt="YouTube Logo"
                />
              </a>
            </li>
            <li class="messenger__item">
              <a
                target="_blank"
                href="https://www.pinterest.com/abetkababycard/"
                class="messenger__link link"
              >
                <img
                  class="messenger__img"
                  src="./images/messenger/Pinterest.png"
                  alt="Pinterest Logo"
                />
              </a>
            </li>
            <li class="messenger__item">
              <a
                target="_blank"
                href="https://t.me/babycardclub"
                class="messenger__link link"
              >
                <img
                  class="messenger__img"
                  src="./images/messenger/Telegram.png"
                  alt="Telegram Logo"
                />
              </a>
            </li>
            <li class="messenger__item">
              <a
                target="_blank"
                href="https://twitter.com/BabycardClub"
                class="messenger__link link"
              >
                <img
                  class="messenger__img"
                  src="./images/messenger/Twitter.png"
                  alt="Twitter Logo"
                />
              </a>
            </li>
            <li class="messenger__item">
              <a target="_blank" href="" class="messenger__link link">
                <img
                  class="messenger__img"
                  src="./images/messenger/Whatsapp.Business.png"
                  alt="Whatsapp Logo"
                />
              </a>
            </li>
            <li class="messenger__item">
              <a
                target="_blank"
                href="https://www.instagram.com/abetka.babycard/"
                class="messenger__link link"
              >
                <img
                  class="messenger__img"
                  src="./images/messenger/Instagram.png"
                  alt="Instagram Logo"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <nav class="footer__nav">
        <p class="footer__content">INFORMATION</p>
        <ul class="footer__list footer__list--nav list">
          <li class="footer__item">
            <a href="#section-reviews" class="footer__link link"
              >REVIEWS FROM OUR FRIENDS</a
            >
          </li>
          <li class="footer__item">
            <a href="#section-how-to-buy" class="footer__link link"
              >HOW TO BUY A PRODUCT</a
            >
          </li>
          <li class="footer__item">
            <a href="#section-delivery" class="footer__link link">DELIVERY</a>
          </li>
          <li class="footer__item">
            <a href="#section-guarantee" class="footer__link link"
              >QUALITY GUARANTEE FROM THE MANUFACTURER</a
            >
          </li>
          <li class="footer__item">
            <a href="#section-payment" class="footer__link link">PAYMENT</a>
          </li>
          <li class="footer__item">
            <a href="#section-receiving" class="footer__link link"
              >WHAT YOU NEED TO RECEIVE THE GOODS</a
            >
          </li>
          <li class="footer__item">
            <a href="#section-refund" class="footer__link link"
              >REFUND AND REPLACEMENT OF GOODS</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__rights">
      <p class="footer__rights-title">
        2023. BABYCARD UKRAINE. ALPHABET FOR CHILDREN ON PLASTIC CARDS
      </p>
      <p class="footer__rights-text">ALL RIGHTS RESERVED</p>
      <p class="footer__rights-text">
        All rights to the materials published on this resource belong to
        CARDTECH CO. LLC. Any use of materials without the written permission of
        CARDTECH CO. LLC. - Forbidden. When using materials from this resource,
        the hyperlink https://babycard.club is required. This resource is for
        children ages 3 and up.
      </p>
    </div>
  </div>
</footer>
