<section class="section" id="section-guarantee">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">ГАРАНТІЯ ЯКОСТІ ВІД ВИРОБНИКА</h2>
    </div>

    <div class="section__wrapper">
      <iframe
        loading="lazy"
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/X-Y5FMY3oYo?si=quRUdKpwOjhSMP6n "
        title="Product guarantee video №1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            КЛАСИЧНА БАНКІВСЬКА ТЕХНОЛОГІЯ ВИРОБНИЦТВА ПЛАСТИКОВИХ КАРТОК ВІД
            BABYCARD
          </h3>
        </div>
        <p class="section__text">
          В основу виробництва дитячих пластикових карток від Babycard покладена
          класична банківська технологія виробництва пластикових карток
          міжнародних платіжних систем VISA та MasterCard. Пластикові картки
          мають розміри, що відповідають прийнятим в усьому світі стандартам
          ISO. Всі картки заламіновані, покриті шаром прозорого пластика
          ламіната. Глянцове / матове покриття забезпечує довговічність карток в
          експлуатації через належну стійкість до стирання та інших механічних
          впливів. Гарантія 1 рік. Зроблено в Україні.
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <iframe
        loading="lazy"
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/8CyLVmeZpw4"
        title="Product guarantee video №2"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            ВИПРОБУВАННЯ ПЛАСТИКОВИХ КАРТОК НА ЗНОСОСТІЙКІСТЬ ТА СТИРАННЯ
          </h3>
        </div>
        <p class="section__text">
          Чому саме Абетка «Прочитайка»?! Випробування пластикових карток від
          Babycard на зносостійкість та стирання поверхні карток.
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <iframe
        loading="lazy"
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/wFBH9AiQQFk"
        title="Product guarantee video №3"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            ВИПРОБУВАННЯ ПЛАСТИКОВИХ КАРТОК BABYCARD НА РОЗРИВ
          </h3>
        </div>
        <p class="section__text">
          Чому саме Абетка «Прочитайка»?! Випробування пластикових карток від
          Babycard на розрив, гнучкість, пружність та жорсткість ребра.
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <iframe
        loading="lazy"
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/9te5Ewfns9s"
        title="Product guarantee video №4"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            ВИПРОБУВАННЯ ПЛАСТИКОВИХ КАРТОК НА ВОДОНЕПРОНИКНІСТЬ
          </h3>
        </div>
        <p class="section__text">
          Чому саме Абетка «Прочитайка»?! Випробування пластикових карток від
          Babycard водою на стабільність розмірів карток та їх
          водонепроникність.
        </p>
      </div>
    </div>
  </div>
</section>
