<section class="section" id="section-guarantee">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">QUALITY GUARANTEE FROM THE MANUFACTURER</h2>
    </div>

    <div class="section__wrapper">
      <iframe
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/X-Y5FMY3oYo?si=quRUdKpwOjhSMP6n "
        title="Product guarantee video №1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            CLASSIC BABYCARD BANKING PLASTIC CARDS PRODUCTION TECHNOLOGY
          </h3>
        </div>
        <p class="section__text">
          The production of children's plastic cards from Babycard is based on
          the classical banking technology for the production of plastic cards
          of international payment systems VISA and MasterCard. The sizes of
          plastic cards correspond to the international ISO standards. All cards
          are laminated, covered with a layer of transparent plastic laminate.
          The glossy/matte finish ensures the durability of the cards during use
          due to sufficient resistance to abrasion and other mechanical
          influences. Warranty 1 year. Made in Ukraine.
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <iframe
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/8CyLVmeZpw4"
        title="Product guarantee video №2"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            Testing plastic cards for strength and abrasion
          </h3>
        </div>
        <p class="section__text">
          Testing plastic cards from Babycard for wear resistance and abrasion
          of the surface of the cards.
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <iframe
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/wFBH9AiQQFk"
        title="Product guarantee video №3"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            Bursting Test of Plastic Babycards
          </h3>
        </div>
        <p class="section__text">
          Testing plastic cards from Babycard for tear, flexibility, elasticity
          and stiffness of the rib.
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <iframe
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/9te5Ewfns9s"
        title="Product guarantee video №4"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            Checking plastic cards for water resistance.
          </h3>
        </div>
        <p class="section__text">
          Testing plastic Babycard cards with water for dimensional stability
          and water tightness.
        </p>
      </div>
    </div>
  </div>
</section>
