<section class="section" id="section-how-to-buy">
  <div class="container">
    <h2 class="section__title">ЯК ПРИДБАТИ ТОВАР</h2>

    <p class="section__text-secondary section__text-secondary--center">
      Процедура купівлі товару дуже проста та складається з декількох кроків.
    </p>

    <div class="section__wrapper">
      <div class="section__content">
        <h3 class="section__title-secondary section__title-secondary--red">ОФОРМЛЕННЯ ЗАМОВЛЕННЯ</h3>
        <p class="section__text-secondary">Як я можу оформити замовлення?</p>
        <p class="section__text-secondary">
          В першу чергу, Вам потрібно визначитися з товаром, який сподобався.
        </p>
        <ul class="section__list">
          Замовлення можно оформити будь яким зручним для Вас способом:
          <li class="section__item">
            По телефону:
            <a href="tel:+380503683547" class="section__link link"
              >+38 ( 050 ) 368 35 47</a
            >
          </li>
          <li class="section__item">
            Скориставшись електронною поштою:
            <a href="mailto:ABETKA@BABYCARD.CLUB" class="section__link link">
              ABETKA@BABYCARD.CLUB</a
            >
          </li>
          <li class="section__item">
            <ul class="section__list">
              Написати нам в соцмережах:
              <li class="section__item">
                Telegram -
                <a
                  href="HTTPS://T.ME/BABYCARDUKRAINE"
                  class="section__link link"
                >
                  HTTPS://T.ME/BABYCARDUKRAINE</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <img
        class="section__img section__img--left"
        src="./images/how-to-buy/img.png"
        alt="Image with phone and email"
      />
    </div>
  </div>
</section>
