<section class="section" id="section-how-to-buy">
  <div class="container">
    <h2 class="section__title">HOW TO BUY THE PRODUCT</h2>

    <p class="section__text-secondary section__text-secondary--center">
      The procedure for purchasing goods is very simple and consists of several
      steps.
    </p>

    <div class="section__wrapper">
      <div class="section__content">
        <h3 class="section__title-secondary section__title-secondary--red">
          PLACE AN ORDER
        </h3>
        <p class="section__text-secondary">How can I place an order?</p>
        <p class="section__text-secondary">
          First of all, you need to decide on the product you like.
        </p>
        <p class="section__text-secondary">
          You can place an order in any way convenient for you:
        </p>
        <p class="section__text-secondary">
          By phone:
          <a target="_blank" href="tel:+380503683547" class="section__link link"
            >+38 ( 050 ) 368 35 47</a
          >
        </p>
        <p class="section__text-secondary">
          By e-mail:
          <a
            target="_blank"
            href="mailto:ABETKA@BABYCARD.CLUB"
            class="section__link link"
          >
            ABETKA@BABYCARD.CLUB</a
          >
        </p>

        <p class="section__text-secondary">By social media:</p>
        <p class="section__text-secondary">
          Telegram -
          <a
            target="_blank"
            href="HTTPS://T.ME/BABYCARDUKRAINE"
            class="section__link link"
          >
            HTTPS://T.ME/BABYCARDUKRAINE</a
          >
        </p>
      </div>
      <img
        loading="lazy"
        class="section__img section__img--left"
        src="./images/how-to-buy/img.png"
        alt="Image with phone and email"
      />
    </div>
  </div>
</section>
