<section class="section">
  <div class="container">
    <h2 class="section__title">BABYCARD ПРЕДСТАВЛЯЄ</h2>
    <div class="section__wrapper">
      <div class="section__content">
        <h3 class="section__title--secondary">
          ДИДАКТИЧНИЙ МАТЕРІАЛ НА ПЛАСТИКОВИХ КАРТКАХ
        </h3>
        <p class="section__text">
          Шановні мамусі та татусі, бабусі та дідусі, вперше в Україні, ми
          представляємо Вам дидактичний матеріал власного виробництва,
          виготовлений на пластикових картках, розроблений згідно програми
          розвитку дитини дошкільного віку «Українське дошкілля».
        </p>
        <p class="section__text">
          Картки від BabyCard – це оптимальна добірка слів, шрифт, розмір,
          товщина карток, великі літери, веселі вірші, чудові малюнки.
        </p>
        <p class="section__text">
          Картки можна використовувати, як для індивідуальних, так і для
          групових занять вдома, на заняттях у дошкільному навчальному закладі,
          на уроках з навчання грамоти, української та англійської мови,
          природознавства в початковій школі по ознайомленню дітей з навколишнім
          світом.
        </p>
      </div>
      <div class="section__img--intro"></div>
    </div>
  </div>
</section>
