<section class="section" id="section-about">
  <div class="container">
    <h2 class="section__title">BABYCARD PRESENTS</h2>
    <div class="section__wrapper">
      <div class="section__content">
        <h3 class="section__title-secondary section__title-secondary--red">
          DIDACTIC MATERIAL ON PLASTIC CARDS
        </h3>
        <p class="section__text">
          Dear mothers and fathers, grandparents, for the first time in Ukraine,
          we present to you the didactic material of our own production, made on
          plastic cards, developed in accordance with the Ukrainian preschool
          school development program for a preschool child.
        </p>
        <p class="section__text">
          Cards from BabyCard are an optimal selection of words, font, size,
          card thickness, capital letters, funny poems, wonderful drawings.
        </p>
        <p class="section__text">
          Cards can be used for both individual and group lessons at home, in
          classes at a preschool educational institution, in literacy, Ukrainian
          and English classes, and in elementary school to familiarize children
          with the outside world.
        </p>
      </div>
      <img
      loading="lazy"
        class="section__img section__img--left"
        src="./images/intro.png"
        alt="Didactic material on plastic cards"
      />
    </div>
  </div>
</section>
