<main>
  <include src="./partials/hero.html"></include>
  <include src="./partials/introduction.html"></include>
  <include src="./partials/about-project.html"></include>
  <include src="./partials/series.html"></include>
  <include src="./partials/reviews.html"></include>
  <include src="./partials/how-to-buy.html"></include>
  <include src="./partials/delivery.html"></include>
  <include src="./partials/guarantee.html"></include>
  <include src="./partials/payment.html"></include>
  <include src="./partials/receiving.html"></include>
  <include src="./partials/refund.html"></include>
</main>
