<main>
  <include src="./partials/hero-eng.html"></include>
  <include src="./partials/introduction-eng.html"></include>
  <include src="./partials/about-project-eng.html"></include>
  <include src="./partials/series-eng.html"></include>
  <include src="./partials/reviews-eng.html"></include>
  <include src="./partials/how-to-buy-eng.html"></include>
  <include src="./partials/delivery-eng.html"></include>
   <include src="./partials/guarantee-eng.html"></include>
   <include src="./partials/payment-eng.html"></include>
   <include src="./partials/receiving-eng.html"></include>
    <include src="./partials/refund-eng.html"></include>
</main>
