<div class="mobile-menu js-menu-container">
  <div class="mobile-menu__container">
    <button
      type="button"
      class="mobile-menu__button mobile-menu__button--close js-close-menu"
    >
      <svg class="mobile-menu__icon">
        <use href="./images/sprite.svg#close-burger"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list mobile-menu__list--pages list">
        <li class="mobile-menu__item mobile-menu__item--pages">
          <a href="#section-about" class="mobile-menu__link mobile-menu__link--pages link"
            >ABOUT PROJECT</a
          >
        </li>
        <li class="mobile-menu__item mobile-menu__item--pages">
          <a
            href="#section-play-and-read"
            class="mobile-menu__link mobile-menu__link--pages link"
            >LET'S PLAY. READING</a
          >
        </li>
        <li class="mobile-menu__item mobile-menu__item--pages">
          <a href="#section-math" class="mobile-menu__link mobile-menu__link--pages link"
            >FUN MATHEMATICS</a
          >
        </li>
        <li class="mobile-menu__item mobile-menu__item--pages">
          <a
            href="#section-environment"
            class="mobile-menu__link mobile-menu__link--pages link"
            >ENVIRONMENT</a
          >
        </li>
        <li class="mobile-menu__item mobile-menu__item--pages">
          <a href="#section-sport" class="mobile-menu__link mobile-menu__link--pages link"
            >SPORT</a
          >
        </li>
        <li class="mobile-menu__item mobile-menu__item--pages">
          <a href="#section-play" class="mobile-menu__link mobile-menu__link--pages link"
            >GRAY.KA</a
          >
        </li>
        <li class="mobile-menu__item mobile-menu__item--pages">
          <a href="#section-reviews" class="mobile-menu__link mobile-menu__link--pages link"
            >REVIEWS</a
          >
        </li>
        <li class="mobile-menu__item mobile-menu__item--pages">
          <a href="#section-how-to-buy" class="mobile-menu__link mobile-menu__link--pages link"
            >CONTACTS</a
          >
        </li>
    </ul>

    <div class="mobile-menu__container--inside">
      <ul class="mobile-menu__list mobile-menu__list--contacts list">
        <li class="mobile-menu__item mobile-menu__item--contacts">
          <a
            target="_blank"
            href="mailto:ABETKA@BABYCARD.CLUB"
            class="mobile-menu__link mobile-menu__link--contacts mobile-menu__link--color link"
          >
            <svg class="header__icon header__icon--letter">
              <use href="./images/sprite.svg#letter"></use>
            </svg>
            ABETKA@BABYCARD.CLUB</a
          >
        </li>
        <li class="mobile-menu__item mobile-menu__item--contacts">
          <a
            target="_blank"
            href="tel:+380503683547"
            class="mobile-menu__link mobile-menu__link--contacts link"
            ><svg class="header__icon header__icon--phone">
              <use href="./images/sprite.svg#phone"></use></svg
            >+38 050 368 35 47</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
