<section class="section" id="section-payment">
  <div class="container">
    <h2 class="section__title">PAYMENT</h2>
    <p class="section__text-secondary section__text-secondary--center">
      You can choose the method of payment and delivery of goods when placing an
      order. If you have any questions before downloading the product, please
      give us a call.
    </p>

    <div class="section__wrapper">
      <img
        loading="lazy"
        class="section__img"
        src="./images/payment/mobile.png"
        alt="Payment through the PrivatBank application"
      />
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            TO THE PRIVATBANK CARD
          </h3>
        </div>
        <p class="section__text">Transfer of funds through Privat24.</p>
        <p class="section__text">
          <span class="section__text--bold">ATTENTION!</span> Only for
          PrivatBank cardholders.
        </p>
        <p class="section__text">
          After placing an order, we will contact you for confirmation. After
          that, an invoice will be sent to your email.
        </p>
        <p class="section__text">
          <span class="section__text--bold">ATTENTION!</span> When paying the
          invoice, it is MANDATORY to indicate the order number, your last name
          and first name!
        </p>
        <p class="section__text">
          The invoice must be paid by the person to whom it was issued! Pay the
          amount including bank commission!
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <img
        loading="lazy"
        class="section__img"
        src="./images/payment/bank.png"
        alt="Cash"
      />
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            BANK TRANSFER
          </h3>
        </div>
        <p class="section__text">
          By transferring funds through Privat24, from a card of any commercial
          or state bank of Ukraine, from a current account or by depositing cash
          through a terminal or cash desk of any bank in Ukraine.
        </p>
        <p class="section__text">
          After placing an order, we will contact you for confirmation. After
          that, an invoice will be sent to your email.
        </p>
        <p class="section__text">
          <span class="section__text--bold">ATTENTION!</span> When paying the
          invoice, it is MANDATORY to indicate the order number, your last name
          and first name! Pay the amount including bank commission!
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <img
        loading="lazy"
        class="section__img"
        src="./images/payment/cashless.png"
        alt="Working on a laptop"
      />
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            TO A NON-CASH ACCOUNT FOR A LEGAL ENTITY
          </h3>
        </div>
        <p class="section__text">
          Select the type of payment "Bank transfer", after which we issue you
          an invoice for payment. After receiving payment, we will send the
          order at the appointed time to your address.
        </p>
        <p class="section__text">
          With non-cash payment, the goods are sold with VAT, with payment to
          the LLC account.
        </p>
      </div>
    </div>
  </div>
</section>
