<section class="section" id="section-payment">
  <div class="container">
    <h2 class="section__title">ОПЛАТА</h2>
    <p class="section__text-secondary section__text-secondary--center">
      Вибрати, як оплатити та доставити товар, можна при оформленні замовлення.
      Якщо у Вас э запитання, перш ніж замовтляти товар, зателефонуйте нам.
    </p>

    <div class="section__wrapper">
      <picture class="section__img">
        <source
          srcset="
            ./images/payment/mobile.jpg    1x,
            ./images/payment/mobile@2x.jpg 2x
          "
          type="image/jpeg"
        />

        <img
          loading="lazy"
          
          src="./images/payment/mobile.jpg"
          alt="Payment through the PrivatBank application"
        />
      </picture>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            НА КАРТКУ ПРИВАТБАНКУ
          </h3>
        </div>
        <p class="section__text">Шляхом переказу коштів через Приват24.</p>
        <p class="section__text">
          <span class="section__text--bold">УВАГА!</span> Тільки для власників
          картки ПриватБанку.
        </p>
        <p class="section__text">
          Після оформлення замовлення ми зателефонуємо Вам для його
          підтвердження. Потім на Вашу електронну пошту буде надіслано рахунок.
        </p>
        <p class="section__text">
          <span class="section__text--bold">УВАГА!</span> При сплаті рахунку
          ОБОВ’ЯЗКОВО вкажіть номер замовлення, Ваше прізвище та ім’я!
        </p>
        <p class="section__text">
          Рахунок має сплатити обов’язково саме та людина, на яку він був
          виставлений! Сплачуйте суму з урахуванням комісії банку!!!
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <picture class="section__img">
        <source
          srcset="./images/payment/bank.jpg 1x, ./images/payment/bank@2x.jpg 2x"
          type="image/jpeg"
        />

        <img
          loading="lazy"
          
          src="./images/payment/bank.jpg"
          alt="Cash"
        />
      </picture>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            БАНКІВСЬКИЙ ПЕРЕКАЗ
          </h3>
        </div>
        <p class="section__text">
          Шляхом переказу коштів через Приват24, з картки будь-якого
          комерційного або державного банку України, з розрахункового рахунку
          або внесенням готівки через термінал чи касу будь-якого банку України.
        </p>
        <p class="section__text">
          Після оформлення замовлення ми зателефонуємо Вам для його
          підтвердження. Потім на Вашу електронну пошту буде надіслано рахунок.
        </p>
        <p class="section__text">
          <span class="section__text--bold">УВАГА!</span> При сплаті рахунку
          ОБОВ’ЯЗКОВО вкажіть номер замовлення, Ваше прізвище та ім’я! Сплачуйте
          суму з урахуванням комісії банку!!!
        </p>
      </div>
    </div>

    <div class="section__wrapper">
      <picture class="section__img">
        <source
          srcset="
            ./images/payment/cashless.jpg    1x,
            ./images/payment/cashless@2x.jpg 2x
          "
          type="image/jpeg"
        />

        <img
          loading="lazy"
          
          src="./images/payment/cashless.jpg"
          alt="Working on a laptop"
        />
      </picture>
      <div class="section__content">
        <div class="section__title-wrapper">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          <h3 class="section__title-secondary section__title-secondary--border">
            ЗА БЕЗГОТІВКОВИМ РАХУНКОМ НА ЮРИДИЧНУ ОСОБУ
          </h3>
        </div>
        <p class="section__text">
          Вибираєте вид оплати "Безготівковий", після цього ми виставляємо Вам
          рахунок на оплату. Після отримання оплати ми відправимо замовлення в
          призначений термін на вашу адресу.
        </p>
        <p class="section__text">
          При безготівковій оплаті товар продається з ПДВ, з оплатою на рахунок
          ТОВ.
        </p>
      </div>
    </div>
  </div>
</section>
