<section class="section">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">ЩО ПОТРІБНО ДЛЯ ОТРИМАННЯ ТОВАРУ</h2>
      <p class="section__text section__text--center">
        Для отримання товару на відділенні «Нова Пошта» вам необхідно при собі
        мати:
      </p>
      <p class="section__text section__text--center">
        Номер товарно-транспортної накладної (відправляється клієнтові смс
        повідомленням на номер мобільного телефону), оригінал паспорта або
        посвідчення водія.
      </p>
      <p class="section__text section__text--center">
        Гроші для оплати вартості транспортних послуг.
      </p>
      <p class="section__text section__text--center">
        У разі якщо у вас немає можливості особисто або вчасно забрати товар, то
        це може зробити вас довірена особа. Ця людина повинна мати при собі ваш
        і свій паспорт.
      </p>
      <p class="section__text section__text--center">
        Якщо ж ви не маєте можливості передати свій паспорт - то вам необхідно
        зв'язатися з нами і повідомити дані нового одержувача. Також, Зв'яжіться
        з нами, якщо необхідного переадресувати замовлення на інше відділення
        перевізника у Вашому місті.
      </p>
    </div>
  </div>
</section>
