<section class="section" id="section-receiving">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">WHAT YOU NEED TO RECEIVE THE GOODS</h2>
      <p class="section__text section__text--center">
        To receive goods at the "NOVA POST" branch, you need to have with you:
      </p>
      <p class="section__text section__text--center">
        Number of the consignment note (sent to the client by SMS message to the
        mobile phone number), original passport or driver's license
      </p>
      <p class="section__text section__text--center">
        Money to pay the cost of transportation services.
      </p>
      <p class="section__text section__text--center">
        If you do not have the opportunity to personally or on time pick up the
        goods, this can make you a trusted person. This person must have both
        your passport and his passport with him.
      </p>
      <p class="section__text section__text--center">
        If you are unable to transfer your passport, then you need to contact us
        and provide the details of the new recipient. Also, contact us if you
        need to redirect the order to another branch of the carrier in your
        city.
      </p>
    </div>
  </div>
</section>
