<section class="section" id="section-refund">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">REFUND AND REPLACEMENT OF GOODS</h2>
      <p class="section__text section__text--center">
        All products presented on the site are subject to exchange in accordance
        with the Law on the Protection of Consumer Rights. If you are not
        satisfied with the appearance or the product has visible damage, you
        have the right to refuse it by writing an application for a return upon
        receipt of the goods at the branch of the transport and logistics
        company "NOVA POST".
      </p>
      <p class="section__text section__text--center">
        Goods of good quality that you are not satisfied with for any reason can
        be returned within 14 days in accordance with the Consumer Rights
        Protection Law, goods of inadequate quality that have visible damage can
        be returned only upon receipt. The goods that you took from the office
        and did not suit you, you send back to us at your own expense according
        to the tariffs of the transport company "NOVA POST".
      </p>
      <p class="section__text section__text--center">
        If you do not know what to do - do not pick up the shipment, do not sign
        the express waybill and do not leave the post office - let us know. We
        will help you resolve the situation.
      </p>
      <p class="section__text section__text--center">
        After the damaged goods are returned to us, we will inspect for the
        discrepancy or damage indicated by you, and after that we will return
        the money to you or make a replacement. All goods are insured for the
        full value of the goods upon shipment, so there will be no problems with
        the replacement.
      </p>
      <p class="section__text section__text--center">
        Refunds are made within 1-3 business days using the payment method. Only
        the amount of the goods that came to our account is returned, we do not
        return the commission for the transfer!
      </p>
      <p class="section__text section__text--center">
        It should be remembered that if you took the goods from the carrier,
        then claims for mechanical damage or incompleteness of the goods are not
        accepted!
      </p>
    </div>
  </div>
</section>
