<section class="section">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">ПОВЕРНЕННЯ ГРОШЕЙ ТА ЗАМІНА ТОВАРУ</h2>
      <p class="section__text section__text--center">
        Всі товари представлені на сайті підлягають обміну відповідно до «Закону
        про захист прав споживачів». Якщо Вас не влаштував зовнішній вигляд або
        товар має видимі пошкодження - Ви в праві відмовитися від нього,
        написавши заяву на повернення при отриманні товару у відділенні
        транспортно-логістичної компанії «Нова Пошта».
      </p>
      <p class="section__text section__text--center">
        Товари належної якості, але які Вас не влаштували за будь - якими
        причинами можна повернути протягом 14 днів відповідно до «Закону про
        захист прав споживачів», товари неналежної якості мають видимі
        пошкодження Ви можете повернути тільки при їх отриманні. Товари які ви
        забрали з відділення і Вас не влаштували Ви відправляєте нам назад за
        свій рахунок згідно з тарифами транспортної компанії «Нова Пошта».
      </p>
      <p class="section__text section__text--center">
        Якщо Ви не знаєте як вчинити - не забирайте відправлення, не підписуйте
        експрес-накладну і не виходячи з поштового відділеннях - повідомте нам.
        Ми допоможемо Вам вирішити виниклу ситуацію.
      </p>
      <p class="section__text section__text--center">
        Після того, як до нас повернеться наведений в непридатність товар - ми
        проводимо огляд на зазначені Вами невідповідність або пошкодження, і
        після цього повертаємо Вам гроші або робимо заміну. Весь товар при
        відправці ми страхуємо на повну вартість, тому проблем із заміною не
        виникне.
      </p>
      <p class="section__text section__text--center">
        Повернення коштів здійснюємо протягом 1 - 3 робочих днів способом яким
        була проведена оплата. Повертається тільки сума товару, яка зайшла до
        нас на рахунок, комісію за переказ ми не повертаємо!
      </p>
      <p class="section__text section__text--center">
        Варто пам'ятати, що якщо ви забрали товар у перевізника, то претензії
        щодо механічного пошкодження або некомплектності товару не приймаються!
      </p>
    </div>
  </div>
</section>
