<section class="section"  id="section-reviews">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">ВІДГУКИ НАШИХ ДРУЗІВ</h2>
      <p class="section__text">
        Відгуки наших друзів - це реальні та найцінніші відгуки для нас, теплі
        слова подяки та вдячності тих, хто придбав і користується нашою
        продукцією, зміг гідно оцінити проект Babycard, який було розроблено для
        самих найменших згідно програми розвитку дитини дошкільного віку
        «Українське дошкілля». Наші друзі живуть у різних куточках нашої
        улюбленної країни, але всіх їх поєднує потяг до знань та пізнання
        навколишнього середовища.
      </p>
    </div>
    <div class="section__wrapper">
      <iframe
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/0GU87e59u6U"
        title="Review about BabyCard product №1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <h3 class="section__title-secondary section__title-secondary--about">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>
          ВІДГУКИ НАШИХ ДРУЗІВ. ХРИСТИНКА МИКИТИШИН
        </h3>
        <p class="section__text">
          Чудові карточки! У мене двоє малих дітей 9 і 3 рочки, навчає їх обох.
          Карточки дуже хорошої якості. Діти в захваті! Дуже люблять ними
          гратися. Рекомендую всім!
        </p>
      </div>
    </div>
    <div class="section__wrapper">
      <iframe
        class="section__video section__video--secondary"
        src="https://www.youtube.com/embed/Wzd7WAgj7G8"
        title="Review about BabyCard product №2"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="section__content">
        <h3 class="section__title-secondary section__title-secondary--about">
          <svg class="section__icon">
            <use href="./images/sprite.svg#pen"></use>
          </svg>

          ВІДГУКИ НАШИХ ДРУЗІВ. INNA SPATAR
        </h3>
        <p class="section__text">
          Спасибо за прекрасный комплект карточек! Нам всем очень понравились.
          Теперь играем - включаем видео и ищем соответствующую карточку с
          птичкой на видео. Детям по 4 года, им очень интересно. Легко
          запоминаются названия, внешний вид и слышно, как каждая птица поёт.
          Большой плюс, что карточки на украинском и английском. Для меня
          названия некоторых птиц на украинском в диковинку. Никогда не знала,
          что СВИРИСТЕЛЬ - это ОМЕЛЮХ. Родители обучаются вместе с детьми!
        </p>
      </div>
    </div>
  </div>
</section>
