.messenger {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  text-align: center;
  @media screen and (min-width: $tablet) {
    width: 350px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      gap: 15px;
    }
  }
  &__item {
    flex-basis: calc((100% - 30px) / 4);
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 45px) / 4);
    }
  }
  &__img {
    width: 40px;
    height: 40px;
    margin: auto;
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      width: 45px;
      height: 45px;
    }
  }
}
