.section {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 60px;
    }
  }
  &__title {
    position: relative;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.14;
    font-size: 26px;
    @media screen and (max-width: $phone) {
      line-height: 1.04;
      font-size: 22px;
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
      font-size: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 60px;
      line-height: 1.4;
      font-size: 38px;
    }
    &::after {
      content: '';
      display: block;
      text-align: center;
      width: 50px;
      height: 5px;
      background-color: $main-color;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: $phone) {
        width: 40px;
        height: 4px;
      }
      @media screen and (min-width: $tablet) {
        width: 70px;
        height: 7px;
        bottom: -20px;
      }
    }
  }
  &__title-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.12;
    margin-bottom: 15px;
    @media screen and (max-width: $phone) {
      font-size: 18px;
      line-height: 1.04;
      margin-bottom: 15px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 22px;
      line-height: 1.14;
      margin-bottom: 15px;
    }
    @media screen and (min-width: $desktop) {
      justify-content: start;
      font-size: 27px;
      line-height: 1.19;
      margin-bottom: 20px;
    }
    &--border {
      text-align: start;
      margin-bottom: 0;
      font-weight: 700;
      line-height: 1.04;
      font-size: 16px;
      color: $main-color;
      @media screen and (max-width: $phone) {
        font-size: 14px;
      }
      @media screen and (min-width: $tablet) {
        font-size: 18px;
      }
      @media screen and (min-width: $desktop) {
        line-height: 1.14;
        font-size: 22px;
      }
    }
    &--red {
      color: $main-color;
    }
  }
  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $main-color;
    margin-bottom: 15px;
    padding-bottom: 10px;
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      justify-content: start;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }
  &__wrapper {
    display: block;
    &--margin-bottom {
      margin-bottom: 40px;
    }
    &:not(:last-child) {
      margin-bottom: 60px;
      @media screen and (min-width: $tablet) {
      }
      @media screen and (min-width: $desktop) {
        margin-bottom: 40px;
      }
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  &__img {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      width: 50%;
      margin-top: 0;
      margin-left: 0;
      margin-right: 20px;
    }
    &--left {
      margin-right: 0;
      margin-left: 0;
      @media screen and (min-width: $tablet) {
      }
      @media screen and (min-width: $desktop) {
        margin-right: 0;
        margin-left: 20px;
      }
    }
  }

  &__icon {
    fill: $main-color;
    min-width: 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      min-width: 40px;
      width: 40px;
      height: 40px;
    }
  }

  &__video {
    display: block;
    width: 100%;
    height: 350px;
    margin-right: 0;
    shape-outside: content-box;
    &--secondary {
      height: 300px;
      @media screen and (max-width: $phone) {
        height: 200px;
      }
      @media screen and (min-width: $tablet) {
        height: 350px;
      }
    }
    @media screen and (max-width: $phone) {
      height: 250px;
    }
    @media screen and (min-width: $tablet) {
      height: 450px;
    }
    @media screen and (min-width: $desktop) {
      width: 50%;
      margin-right: 20px;
    }
  }
  &__text {
    line-height: 1.08;
    font-size: 16px;
    text-align: center;
    @media screen and (min-width: $desktop) {
      text-align: start;
      line-height: 1.14;
      font-size: 17px;
    }
    &--center {
      text-align: center;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
      @media screen and (min-width: $desktop) {
        margin-bottom: 20px;
      }
    }
    &--bold {
      font-weight: 700;
    }
  }
  &__text-secondary {
    line-height: 1.14;
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 20px;
    }
    &--center {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__content {
    flex: 1;
    margin-top: 20px;
  }
  &__list {
    line-height: 1.14;
    font-size: 17px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:first-child {
      margin-top: 10px;
    }
  }
  &__link {
    @media screen and (max-width: $phone) {
      font-size: 13px;
    }
    font-size: 14px;
    @media screen and (min-width: $tablet) {
      font-size: 15px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 17px;
    }
    font-weight: 700;
    color: $text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $main-color;
    }
  }
}
