.footer {
  padding: 60px 0px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
  }

  &__adress {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__content {
    font-weight: 700;
    font-size: 20px;
  }
  &__text {
    font-size: 18px;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  &__link {
    color: $text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $main-color;
    }
    &--main {
      color: $main-color;
      font-weight: 700;
      font-size: 22px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--nav {
      gap: 5px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  &__item {
    display: flex;
  }
  &__span {
    font-weight: 700;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__rights {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-title {
      font-weight: 700;
      font-size: 22px;
    }
    &-text {
      font-weight: 500;
      font-size: 20px;
    }
  }
}
