<section class="section series" id="section-environment">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">СЕРІЯ «ДОВКІЛЛЯ»</h2>
      <p class="section__text section__text--center">
        Довкілля - світ навколо мене. Природа, люди, речі. Довкілля (також
        навколишнє природне середовище) у широкому розумінні цього слова - це
        космос, це всі живі та неживі об'єкти, що природньо існують на Землі або
        в деякій її частині нашої Батьківщини - України, рідному краю.
      </p>
      <p class="section__text section__text--center">
        Довкілля - це життєвий світ, що оточує дитину, в якому вона живе з
        перших днів свого життя, який вона пізнає і який дає їй можливість
        формувати образ свого "Я", себе як особистість.
      </p>
      <p class="section__text section__text--center">
        Довкілля - це середовище життя, з яким жива істота пов'язана обміном
        речовин, енергії, інформації, середовище, що постає перед дитиною як
        цілісність (цілісна картина світу), у якому все органічно
        взаємопов'язано.
      </p>
      <p class="section__text section__text--center">
        Вивчаючи «Довкілля», діти ознайомляться з багатством живої і неживої
        природи, різноманітністю рослинного і тваринного світу свого довкілля,
        набудуть уявлень про погодні явища та їх ознаки, сезонні зміни в природі
        та життя рослин (дерева, кущі, трави, овочі, фрукти, ягоди) і тварин
        (звірі, птахи, риби, комахи, дикі та свійські), догляд за своїм
        здоров’ям в різні пори року, одержують інформацію про будову рослин і
        тварин, одержують знання про правила поведінки в природі, необхідність
        дбайливого та бережного ставлення до природи, національні звичаї
        святкування зимових і весняних свят.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/1.Wild.Animals.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Дикі тварини України»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 001</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/2.Migratory.Birds.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Перелітні птахи України»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 002</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/3.Winter.Birds.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Зимуючі птахи України»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 003</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/4.Insects.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Комахи»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 004</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/5.Sea.Animals.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Морські тварини»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 005</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/6.Domestic.Animals.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Свійські тварини, птахи, комахи»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 006</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/7.Pets.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Домашні улюбленці»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 007</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/8.Vegetables.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Овочі»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 008</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/9.Fruite.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Фрукти»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 009</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/10.Berries.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Ягоди»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 010</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/11.Animals.Australia.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Тварини Австралії»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 011</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/12.Animals.Africa.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Тварини Африки»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 012</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/13.Animals.Asia.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Тварини Азії»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 013</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/14.Animals.Arktica.Antarktica.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Тварини Арктики та Антарктики»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 014</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/15.Animals.Of.Central.And.South.America.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Тварини Південної та Центральної Америки»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 015</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/16.Animals.Of.North.America.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Тварини Північної Америки»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 016</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/17.Mushrooms.Ukraine.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Гриби України»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 017</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/18.Flowering.Plants.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Квітучі рослини»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 018</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/19.Trees.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Дерева»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ПД - 019</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Довкілля</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
    </ul>
  </div>
</section>
