<section class="section series" id="section-environment">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">SERIES «ENVIRONMENT»</h2>
      <p class="section__text section__text--center">
        Environment is the world around me. Nature, people, things. The
        environment (also the natural environment) in the broad sense of the
        word is space, it is all living and inanimate objects that naturally
        exist on Earth or in some part of our Motherland - Ukraine, native land.
      </p>
      <p class="section__text section__text--center">
        The environment is the life world that surrounds the child, in which he
        lives from the first days of his life, which he learns and gives him the
        opportunity to form the image of his "I", himself as a person.
      </p>
      <p class="section__text section__text--center">
        The environment is the environment of life with which a living being is
        connected by the metabolism, energy, information, the environment facing
        the child as an integrity (a holistic picture of the world), in which
        everything is organically interconnected.
      </p>
      <p class="section__text section__text--center">
        Studying the "Environment", children will get acquainted with the
        richness of animate and inanimate nature, the diversity of the flora and
        fauna of their environment, acquire ideas about weather phenomena and
        their signs, seasonal changes in nature and plant life (trees, bushes,
        herbs, vegetables, fruits , berries) and animals (animals, birds, fish,
        insects, wild and domestic), care for their health at different times of
        the year, receive information about the structure of plants and animals,
        gain knowledge about the rules of behavior in nature, the need for
        careful and careful attitude to nature, national customs of celebrating
        winter and spring holidays.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/1.Wild.Animals.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Set of plastic cards «Wild Animals of Ukraine»
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 001</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/2.Migratory.Birds.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Set of plastic cards «Migratory birds of Ukraine»
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 002</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/3.Winter.Birds.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Set of plastic cards «Wintering Birds of Ukraine»
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 003</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/4.Insects.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Insects»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 004</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/5.Sea.Animals.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Sea animals»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 005</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/6.Domestic.Animals.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Set of plastic cards «Domestic animals, birds, insects»
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 006</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/7.Pets.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Pets»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 007</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/8.Vegetables.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Vegetables»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 008</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/9.Fruite.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Fruits»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 009</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/10.Berries.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Berries»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 010</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/11.Animals.Australia.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Set of plastic cards «Animals of Australia»
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 011</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/12.Animals.Africa.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Animals of Africa»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 012</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/13.Animals.Asia.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Animals of Asia»»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 013</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/14.Animals.Arktica.Antarktica.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Set of plastic cards «Animals of the Arctic and Antarctic»
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 014</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/15.Animals.Of.Central.And.South.America.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Set of plastic cards «Animals of South and Central America»
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 015</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/16.Animals.Of.North.America.png"
          alt="Product card"
        />
        <h3 class="series__name">
     Set of plastic cards «Animals of North America»
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 016</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/17.Mushrooms.Ukraine.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Mushrooms of Ukraine»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 017</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/18.Flowering.Plants.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Flowering plants»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 018</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
      <li class="series__item">
        <img
          class="series__img"
          src="./images/environment/19.Trees.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Trees»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.PD - 019</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Environment»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>
    </ul>
  </div>
</section>
