<section class="section series" id="section-math">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">СЕРІЯ «ВЕСЕЛА МАТЕМАТИКА»</h2>
      <p class="section__text section__text--center">
        Всі діти люблять побавитися, і будь-яка буденна дія перетворюється в
        гру. Цю особливість можна успішно використовувати для процесу навчання.
        Адже якщо навчання зробити грою, то дитина, виконуючи улюблені дії, буде
        вчитися чомусь новому. Завдяки ігровим моментам, малюки відкриють для
        себе, що навчання - дуже захоплююче і веселе заняття. Фантазуючи і
        граючи, діти побачать, що математика для них однаково і цікава, і
        корисна. Для занять Babycard пропонує матеріал на пластикових картках -
        вчимося рахувати, лічба, вивчаємо фігури, колір, тощо.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <picture class="series__img">
          <source
            srcset="./images/math/math1.jpg 1x, ./images/math/math1@2x.jpg 2x"
            type="image/jpeg"
          />

          <img
            loading="lazy"
            src="./images/math/math1.jpg"
            alt="Product card"
          />
        </picture>
        <h3 class="series__name">Вчимося рахувати. Цифри від 1 до 20</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ВМ - 001</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 27</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Весела математика</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>

      <li class="series__item">
        <picture class="series__img">
          <source
            srcset="./images/math/math2.jpg 1x, ./images/math/math2@2x.jpg 2x"
            type="image/jpeg"
          />

          <img
            loading="lazy"
            src="./images/math/math2.jpg"
            alt="Product card"
          />
        </picture>
        <h3 class="series__name">Вчимося рахувати. Лічба від 1 до 20</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ВМ - 002</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 27</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Весела математика</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
    </ul>
  </div>
</section>
