<section class="section series" id="section-math">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">SERIES «FUN MATHEMATICS»</h2>
      <p class="section__text section__text--center">
        All children love to play, and any ordinary action turns into a game.
        This feature can be successfully used for the educational process. After
        all, if learning is made a game, then the child, performing his favorite
        actions, will learn something new. Thanks to the play moments, kids will
        discover that learning is a very exciting and fun activity. Fantasizing
        and playing, children will see that mathematics is both interesting and
        useful for them. For classes, Babycard offers material on plastic cards
        - learning to count, figure, study shapes, color, etc.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <picture class="series__img">
          <source
            srcset="./images/math/math1.jpg 1x, ./images/math/math1@2x.jpg 2x"
            type="image/jpeg"
          />

          <img
            loading="lazy"
            
            src="./images/math/math1.jpg"
            alt="Product card"
          />
        </picture>
        <h3 class="series__name">Learning to count. Digits from 1 to 20</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.VM-001</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 27</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Fun Math»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">12 $</h4>
      </li>

      <li class="series__item">
        <picture class="series__img">
          <source
            srcset="./images/math/math2.jpg 1x, ./images/math/math2@2x.jpg 2x"
            type="image/jpeg"
          />

          <img
            loading="lazy"
            
            src="./images/math/math2.jpg"
            alt="Product card"
          />
        </picture>
        <h3 class="series__name">Learning to count. Numbers from 1 to 20</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.VM-002</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 27</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Fun Math»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">12 $</h4>
      </li>
    </ul>
  </div>
</section>
