<section class="section series" id="section-play">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">SERIES «GRAY.KA»</h2>
      <p class="section__text section__text--center">
        The most common form of implementation of educational tasks are didactic
        games and exercises. They open up a wide scope for children to explore
        the world on their own, teach them to apply knowledge and the ability to
        think creatively.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <picture class="series__img">
          <source
            srcset="./images/play/picker.jpg 1x, ./images/play/picker@2x.jpg 2x"
            type="image/jpeg"
          />

          <img
            loading="lazy"
            src="./images/play/picker.jpg"
            alt="Product card"
          />
        </picture>
        <h3 class="series__name">Set of plastic cards «Gray.Ka»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.G-001</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 30</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Gray.Ka»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">13 $</h4>
      </li>
    </ul>
  </div>
</section>
