<section class="section series" id="section-play-and-read">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">SERIES «LET'S PLAY. READING»</h2>
      <p class="section__text section__text--center">
        All children love to have fairy tales read to them. And now it's time to
        learn how to read them on your own, because it is important to instill a
        love of books and literature from childhood. Undoubtedly, it is
        necessary to start learning to read from the alphabet. And our Alphabet
        "Reader" for children will help you with this! While playing, your child
        can easily learn the letters of the Ukrainian and English alphabets.
        Brightness, color saturation, colorful drawings, funny poems - all this
        makes children want to easily remember and learn the names of letters in
        the game process. With the help of these letters, you can learn the
        Ukrainian language in the game, and beautiful drawings will contribute
        to better memorization and assimilation of knowledge by kids. Thanks to
        him, the child will master the skills of learning in an interesting
        playful way that corresponds to the nature of the child himself, because
        the game is the main activity of children at this age. Using bright
        cards will help your baby better remember, learn, distinguish, name and
        read letters in words.
      </p>
      <p class="section__text section__text--center">
        Яскравість, насиченість кольору, барвисті малюнки, веселі вірші - все це
        викликає бажання у дітей легко в ігровому процесі запам'ятати і вивчити
        назви букв. За допомогою цих букв можна у грі вчити українську мову, а
        чудові малюнки сприятимуть найкращому запам’ятовуванню і засвоєнню
        малюками знань. Дякуючи йому дитина опанує навички вивчення в цікавій
        ігровій формі, яка відповідає природі самої дитини, адже гра є основною
        діяльністю дітей у цьому віці. Використання яскравих карток допоможе
        вашому малюку краще запам'ятати, вивчити, розрізняти, називати та читати
        у словах букви.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/1.Ukr.Boy.png"
          alt="Product card"
        />
        <h3 class="series__name">
          The Ukrainian Alphabet «Reader» is intended for boys
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-001</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 34</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">300.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/2.Ukr.Girl.png"
          alt="Product card"
        />
        <h3 class="series__name">
          The Ukrainian Alphabet «Reader» is for girls
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-002</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 34</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">300.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/3.Ukr.png"
          alt="Product card"
        />
        <h3 class="series__name">
          The Ukrainian Alphabet «Reader» is designed for children
        </h3>
         <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-003</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 34</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">300.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/4.Eng.png"
          alt="Product card"
        />
        <h3 class="series__name">
          English Alphabet «Reader» is designed for children
        </h3>
         <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-004</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 27</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">300.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/5.Vishivana.Abetka.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Embroidered Alphabet «Reader» is designed for children
        </h3>
         <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-005</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 34</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">300.00 UAH</h4>
      </li>
    </ul>

    <ul class="series__list">
      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/1.Litera.Ukr.Boy.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Additional set of Ukrainian letters for syllables and words for boys
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-006</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 27</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">204.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/2.Litera.Ukr.Girl.png"
          alt="Product card"
        />
        <h3 class="series__name">
          An additional set of Ukrainian letters for composing syllables and words for girls
        </h3>
         <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-007</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 27</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">204.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/3.Litera.Ukr.png"
          alt="Product card"
        />
        <h3 class="series__name">
          An additional set of Ukrainian letters for making syllables and words for children
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-008</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 27</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">204.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/4.Litera.Eng.png"
          alt="Product card"
        />
        <h3 class="series__name">
          An additional set of English letters to compose syllables and words for children
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-009</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 25</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">198.00 UAH</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/5.Litera.Vishivana.Abeka.png"
          alt="Product card"
        />
        <h3 class="series__name">
          An additional set of Ukrainian letters for making syllables and words for children
        </h3>
       <div class="series__wrapper">
          <p class="series__text">Article: S.GCH-010</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 27</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Let's Play. Reading»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">204.00 UAH</h4>
      </li>
    </ul>
  </div>
</section>
