<section class="section series" id="section-play">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">СЕРІЯ "ГРАЙ.КА"</h2>
      <p class="section__text section__text--series">
        Найпоширенішою формою реалізації освітніх завдань є дидактичні ігри та
        вправи. Вони відкривають дітям широкий простір для самостійного пізнання
        світу, навчають практично застосовувати знання та вміння, креативно
        мислити.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <img
          class="series__img"
          src="./images/play/picker.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Збирайка»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.Г- 001</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 30</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Грай.Ка</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">270.00 грн.</h4>
      </li>
    </ul>
  </div>
</section>
