<section class="section series" id="section-play-and-read">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">СЕРІЯ «ГРАЄМО.ЧИТАЄМО»</h2>
      <p class="section__text section__text--series">
        Всі діти дуже люблять, коли їм читають казки. А тепер прийшов час
        навчитися читати їх самостійно, адже любов до книг та літератури важливо
        прищеплювати з самого дитинства. Безсумнівно, починати навчання читанню
        необхідно з алфавіту. І наша Абетка "Прочитайка" для дітей допоможе вам
        в цьому! Граючи, ваша дитина зможе з легкістю вивчити букви українського
        та англійського алфавіту.
      </p>
      <p class="section__text section__text--series">
        Яскравість, насиченість кольору, барвисті малюнки, веселі вірші - все це
        викликає бажання у дітей легко в ігровому процесі запам'ятати і вивчити
        назви букв. За допомогою цих букв можна у грі вчити українську мову, а
        чудові малюнки сприятимуть найкращому запам’ятовуванню і засвоєнню
        малюками знань. Дякуючи йому дитина опанує навички вивчення в цікавій
        ігровій формі, яка відповідає природі самої дитини, адже гра є основною
        діяльністю дітей у цьому віці. Використання яскравих карток допоможе
        вашому малюку краще запам'ятати, вивчити, розрізняти, називати та читати
        у словах букви.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/1.Ukr.Boy.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Українська Абетка «Прочитайка» призначена для хлопчиків
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 001</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 34</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">300.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/2.Ukr.Girl.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Українська Абетка «Прочитайка» призначена для дівчаток
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 002</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 34</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">300.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/3.Ukr.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Українська Абетка «Прочитайка» призначена для дітей
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 003</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 34</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">300.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/4.Eng.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Англійська Абетка «Прочитайка» призначена для дітей
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 004</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 27</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська / Англійська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">300.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/5.Vishivana.Abetka.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Вишивана Абетка «Символи України» призначена для дітей
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 005</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 34</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">300.00 грн.</h4>
      </li>
    </ul>

    <ul class="series__list">
      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/1.Litera.Ukr.Boy.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Додатковий набір українських букв для складання складів та слів для хлопчиків
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 006</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 27</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">204.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/2.Litera.Ukr.Girl.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Додатковий набір українських букв для складання складів та слів для дівчаток
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 007</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 27</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">204.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/3.Litera.Ukr.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Додатковий набір українських букв для складання складів та слів для дітей
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 008</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 27</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">204.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/4.Litera.Eng.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Додатковий набір англійських букв для складання складів та слів для дітей
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 009</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 27</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська / Англійська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>

      <li class="series__item">
        <img
          class="series__img"
          src="./images/play-and-read/5.Litera.Vishivana.Abeka.png"
          alt="Product card"
        />
        <h3 class="series__name">
          Додатковий набір українських букв для складання складів та слів для дітей
        </h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.ГЧ - 010</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 27</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Граємо.Читаємо</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">204.00 грн.</h4>
      </li>
    </ul>
  </div>
</section>
