<section class="section series" id="section-sport">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">SERIES «SPORT»</h2>
      <p class="section__text section__text--center">
        Sport is an integral part of the harmonious development of the child.
        Regularly, but unobtrusively, tell your children why it is useful and
        necessary to play sports. Cards will help children systematize knowledge
        about different sports and athletes, expand the horizons of children,
        actively think and speak.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <img loading="lazy"
          class="series__img"
          src="./images/sport/hockey.png"
          alt="Product card"
        />
        <h3 class="series__name">Set of plastic cards «Hockey»</h3>
        <div class="series__wrapper">
          <p class="series__text">Article: С.S-001</p>
          <p class="series__text">Age: from 3 years</p>
          <p class="series__text">Number of cards: 20</p>
          <p class="series__text">Card size, mm: 85.6 x 54.0 x 0.76</p>
          <p class="series__text">Material: PVC</p>
          <p class="series__text">Surface: Laminated matte/glossy</p>
          <p class="series__text">Language: English</p>
          <p class="series__text">Series: «Sports»</p>
          <p class="series__text">Warranty: 1 year</p>
          <p class="series__text">Made in Ukraine</p>
        </div>
        <h4 class="series__price">12 $</h4>
      </li>
    </ul>
  </div>
</section>
