<section class="section series" id="section-sport">
  <div class="container">
    <div class="section__wrapper--margin-bottom">
      <h2 class="section__title">СЕРІЯ «СПОРТ»</h2>
      <p class="section__text section__text--center">
        Спорт - невід'ємна частина гармонійного розвитку дитини. Регулярно, але
        ненав'язливо розповідайте дітям, чому спортом займатися корисно та
        потрібно. Картки допоможуть дітям систематизувати знання про різні види
        спорту та спортсменів, розширити кругозір дітей, активно мислити та
        говорити.
      </p>
    </div>

    <ul class="series__list">
      <li class="series__item">
        <img
          class="series__img"
          src="./images/sport/hockey.png"
          alt="Product card"
        />
        <h3 class="series__name">Набір пластикових карток «Хокей»</h3>
        <div class="series__wrapper">
          <p class="series__text">Артикул: С.С - 001</p>
          <p class="series__text">Вік: від 3 років</p>
          <p class="series__text">Кількість карток: 20</p>
          <p class="series__text">Розмір карток, мм.: 85,6 х 54,0 х 0,76</p>
          <p class="series__text">Матеріал: ПВХ</p>
          <p class="series__text">Поверхня: Ламінована матова / глянсова</p>
          <p class="series__text">Мова: Українська</p>
          <p class="series__text">Серія: Спорт</p>
          <p class="series__text">Гарантія: 1 рік</p>
          <p class="series__text">Зроблено в Україні</p>
        </div>
        <h4 class="series__price">198.00 грн.</h4>
      </li>
    </ul>
  </div>
</section>
